#MessageText
{
    height:100px;
    width: 300px;
}

.textarea-admin-field-buttons-container
{
  display: flex;
  flex-direction: row;
}

.admin-field-buttons-container
{
  display: flex;
  justify-content: flex-start;
  flex-direction: column;
}

.admin-field-buttons-row
{
 display: flex;
 flex-direction: row;
}

a.button {
    padding: 4px 5px;
    margin: 3px;
}
